<main>
  <h1 class='text-center text-uppercase'>Hello world</h1>
  <h2 class='text-end text-lowercase'>Second</h2>
  <h3 class='text-capitalize'>2 title blabla bla bla</h3>
  <hr />
  <div class='display-1'>Hello world</div>
  <div class='display-5'> Second</div>
  <div class='display-6'>2 title</div>
  <hr />

  <div class='text-muted text-end'>Additional text</div>
  <hr />

  <a href='#' class='btn btn-primary'>Primary button</a>
  <hr />
  <p class='text-warning'>Text</p>
  <hr />
  <button
    class='btn btn-outline-warning text-uppercase btn-lg'
  >Blabla</button>
  <button
    class='btn btn-outline-secondary text-uppercase'
  >Blabla</button>
  <button
    class='btn btn-outline-danger text-uppercase btn-sm'
  >Blabla</button>
  <hr />
  <div class='card'>
    <div class='card-body'>
      Content
    </div>
  </div>
  <hr />
  <div class='card'>
    <div class='card-body'>
      <button
        class='btn btn-outline-warning text-uppercase btn-lg'
      >Blabla</button>
      <button
        class='btn btn-outline-secondary text-uppercase'
      >Blabla</button>
      <button
        class='btn btn-outline-danger text-uppercase btn-sm'
      >Blabla</button>
    </div>
  </div>
</main>